body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  label {
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
  }
  
  input[type=number] {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0069d9;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
